@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 2% 10%;
  padding: 0;
}

body {
  font-family: 'PT Sans', sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.action-buttons-container {
  display: flex;
  justify-content: space-around;
}

.lap-grid-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}